@{
    ViewData["Title"] = "Staffs - ";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Staffs</h1>
    @* <div class="d-sm-flex align-items-center">
        <button class="btn btn-sm btn-primary shadow-sm" type="button" style="margin: 5px; padding: 5px">
            <a href="newStaff" style="text-decoration: none">
                <h6 class="m-0 text-white">
                    Add new staff
                </h6>
            </a>
        </button>
        <a href="ManageStaffServlet?mode=exportStaff"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
           style="margin: 5px"><i class="fas fa-download fa-sm text-white-50"></i> Export Excel</a>
        <form action="ManageStaffServlet?mode=importStaff" id="form" method="POST" enctype="multipart/form-data">
            <label class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" for="upload" style="margin: 5px">
                <i class="fas fa-download fa-sm text-white-50"></i> Import Excel
            </label>
            <input type="file" id="upload" name="upload" style="display: none" />
        </form>
    </div>
    <input type="file" id="upload" name="upload" style="display:none" /> *@
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            List of Staff
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered"
                   id="dataTable"
                   width="100%"
                   cellspacing="0">
                <thead>
                    <tr>
                        <th>Staff Name</th>
                        <th>Staff Contract Start Date</th>
                        <th>Staff Contract End Date</th>
                        <th>Staff Role</th>
                        <th>Staff Status</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Staff Name</th>
                        <th>Staff Contract Start Date</th>
                        <th>Staff Contract End Date</th>
                        <th>Staff Role</th>
                        <th>Staff Status</th>
                        <th>Description</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var staff in ViewBag.Staffs)
                    {
                        <tr class="staffRow">
                            <td>@staff.StaffName</td>
                            <td>@staff.StaffContractStart</td>
                            <td>@staff.StaffContractEnd</td>
                            <td>@staff.StaffRole</td>
                            <td>@staff.StaffStatus</td>
                            <td>@staff.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>